body{
    margin: 0%;
    background-color: burlywood;

}

#titolo{
    text-align: center;
    width: 100%;
    height: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#immagine{
    text-align: center;
    align-content: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    padding: 0%;
    background-repeat: no-repeat;

}

#Prossima{
    text-align: center;
    float: right;
    background-color: silver;
    width: 10%;
    height: 100px;
    opacity: 40%;
    font-size: 80px;

}

#Precedente{
    text-align: center;
    float: left;
    background-color: silver;
    width: 10%;
    height: 100px;
    opacity: 40%;
    font-size: 80px;
}

#Prossima:hover{
    opacity: 70%;
    padding: 25px;
    cursor: pointer;
}

#Precedente:hover{
    opacity: 70%;
    padding: 25px;
    cursor: pointer;
}

div#verticale {
    width: 100%;
    position: absolute;
    top: 90%;
    margin-top: -100px;
    }